$baseline-config: (
  zones: (
    (columns: 4, blocks: (4, 3, 2, 1)),
    (columns: 3, blocks: (3, 2, 1)),
    (columns: 2, blocks: (2, 1)),
  ),
  columns-small: 2,
  columns-medium: 3,
  columns-large: 4,
  debug-color: true
);

@import 'mixins/baseline-loader';
