 $baseline-impl: (
  columns-large: 4,
  columns-medium: 3,
  columns-small: 2,
  wrapper-width: 980px,
  grid-zones: (4, 2),
  inner-padding: 0px,
  outer-padding: 0px
);

@import 'mixins/baseline-loader';
