// $baseline-config: (
//   viewports: (
//     (alias: "small", max: 480px, columns: 3, fluid: true),
//     (alias: "medium", min: 481px, max: 768px, columns: 6, fluid: false),
//     (alias: "large", min: 769px, columns: 12, fluid: false)
//   ),
//   zones: (
//     (columns: 12, blocks: (12, 6, 6)),
//     (columns: 9, blocks: (9, 6, 5, 3, 2)),
//     (columns: 3, blocks: (3))
//   ),
//   gutter: 7.5px,
//   outer-padding: 7.5px,
//   inner-padding: 7.5px,
//   debug-color: true
// );
// @import "mixins/baseline-loader";