$baseline-config: (
  zones: (
    (columns: 12, blocks: (12, 9, 6, 3, 1)),
    (columns: 9, blocks: (9, 6, 3, 1)),
    (columns: 6, blocks: (6, 3, 1)),
    (columns: 3, blocks: (3))
  ),
  gutter: 7.5px,
  outer-padding: 7.5px,
  inner-padding: 7.5px,
  debug-color: true
);

@import 'mixins/baseline-loader';
