$baseline-config: (
  viewports: (
    (alias: "small", max: 480px, columns: 3, fluid: true),
    (alias: "medium", min: 481px, max: 768px, columns: 6, fluid: false),
    (alias: "large", min: 769px, columns: 12, fluid: false)
  ),
  zones: (
    (columns: 12, blocks: (12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)),
    (columns: 9, blocks: (9, 8, 7, 6, 5, 4, 3, 2, 1)),
    (columns: 6, blocks: (6, 4, 3, 2, 1)),
    (columns: 3, blocks: (3))
  ),
  gutter: 10px,
  outer-padding: 10px,
  inner-padding: 0,
  debug-color: true
);

@import "mixins/baseline-loader";
