$baseline-impl: (
  columns-large: 12,
  columns-medium: 6,
  columns-small: 3,
  grid-zones: (12, 6, 3),
  gutter: 15px,
  outer-padding: .15,
  inner-padding: 10px,
  debug-color: true
);

@import 'mixins/baseline-loader';
