@import "susy";

$grid-bp-small: 320px;

$susy: (
  container: $grid-bp-small,
  columns: 3,
  gutters: 20px/80px,
  global-box-sizing: content-box,
  math: fluid,
  output: float,
  gutter-position: inside
);

.container_12 {
  @include container;
}

$zone-sizes: 12, 9, 6, 3;
@each $zone-size in $zone-sizes {
  .grid-zone.grid_#{$zone-size} {
    @include span(3 of 3 no-gutter);

    @for $blok-size from 4 through $zone-size {
      .grid-blok.grid_#{$blok-size} {
        @include span(3 of 3 no-gutter);

        > .grid-element {
          @include span(3 of 3);
        }
      }
    }

    @for $blok-size from 1 through 3 {
      .grid-blok.grid_#{$blok-size} {
        @include span($blok-size of 3 no-gutter);

        > .grid-element {
          @include span($blok-size of $blok-size);
        }
      }
    }
  }
}
