@import "map-to-vars";
@import "init";
@import "grid-settings";
@import "grid-modifiers";
@import "iprox";
@import "debug-colors";

@each $viewport in map-get($baseline, viewports) {

  @if (map-has-key($viewport, min) and map-has-key($viewport, max)) {
    $min: map-get($viewport, min);
    $max: map-get($viewport, max);

    @media screen and (min-width: $min) and (max-width: $max) {
      $current-columns: map-get($viewport, columns);
      @import "viewport-logic";
    }
  }
  @else if (map-has-key($viewport, max)) {
    $max: map-get($viewport, max);

    @media screen and (max-width: $max) {
      $current-columns: map-get($viewport, columns);
      @import "viewport-logic";
    }
  }
  @else if (map-has-key($viewport, min)) {
    $min: map-get($viewport, min);
    @media screen and (min-width: $min) {
      $current-columns: map-get($viewport, columns);
      @import "viewport-logic";
      @import "large-logic";
    }
  }
}
