$baseline-default: (
  zones: (
    (columns: 12, blocks: (12, 9, 6, 3))
  ),
  column-width: 80px,
  grid-mq-small: 480px,
  grid-mq-medium: 768px,
  columns-small: 3,
  columns-medium: 6,
  columns-large: 12,
  pushes: (12, 9, 6, 3),
  pulls: (12, 9, 6, 3),
  prefixes: (12, 9, 6, 3),
  suffixes: (12, 9, 6, 3),
  gutter: 0,
  outer-padding: 10px,
  inner-padding: 10px,
  debug-color: false
);
