$baseline-default: (
  viewports: (
    (alias: "small", max: 480px, columns: 3, fluid: false),
    (alias: "medium", min: 481px, max: 768px, columns: 6, fluid: false),
    (alias: "large", min: 769px, columns: 12, fluid: false)
  ),
  zones: (
    (columns: 12, blocks: (12, 9, 6, 3))
  ),
  depth: 1,
  column-width: 80px,
  grid-mq-small: 480px,
  grid-mq-medium: 768px,
  columns-small: 3,
  columns-medium: 6,
  columns-large: 12,
  pushes: (),
  pulls: (),
  container-gutter: null,
  gutter: 0,
  outer-padding: 5px,
  inner-padding: 5px,
  debug-color: false
);
