$baseline-default: (
  container-size: 960px,
  greatest-column: 12,
  columns-large: 12,
  columns-medium: 6,
  columns-small: 3,
  grid-mq-small: 539px,
  grid-mq-medium: 1039px,
  column-width: 80px,
  grid-zones: (12, 9, 6, 3),
  grid-block: (12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
);
