.grid_15 {
  background-color: lightcoral;
}
.grid_12 {
  background-color: lightslategrey;
}
.grid_9 {
  background-color: lightgray;
}
.grid_6 {
  background-color: lightpink;
}
.grid_5 {
  background-color: darkcyan;
}

.grid_4 {
  background-color: darkgray;
}

.grid_3 {
  background-color: lightyellow;
}

.grid_2 {
  background-color: lightgreen;
}

.grid_1 {
  background-color: lightblue;
}
