@mixin grid-blok($block-column, $zone-columns) {
  $width: min(100%, percentage($block-column / $zone-columns));

  @if $gutter > 0 {
    width: calc(#{$width} - #{$gutter});
  }
  @else {
    width: $width;
  }
}

// ERROR HANDLING
@each $zone in $zones {
  $zone-columns: map-get($zone, columns);
  $zone-blocks: map-get($zone, blocks);
  
  @each $check in $zone-blocks {
    @if $check > $zone-columns {
      @error 'blok #{$check} is hoger dan zone #{$zone-columns}';
    }
  }
}
// ERROR HANDLING
