@mixin grid-wrapper {
  max-width: $wrapper-width;
}

@mixin grid-container {
  max-width: $container-width;
}

@mixin grid-blok($block-column, $zone-columns) {
  $width: min(100%, percentage($block-column / $zone-columns));

  @if $gutter > 0 {
    width: calc(#{$width} - #{$gutter * 2});
  }
  @else {
    width: $width;
  }
}

@mixin grid-nesting($block-column, $zone-columns) {
  > .grid-element > .grid-edge > .grid-nesting > .grid-blok.grid_#{$block-column} {
    $width: min(100%, percentage($block-column / $zone-columns));

    @if $gutter > 0 {
      width: calc(#{$width} - #{$gutter * 2});
    }
    @else {
      width: $width;
    }
  }
}
