html,
body {
  margin: 0;
  padding: 0;
}

.canvas {
  overflow-x: hidden;
}

.grid-blok,
.grid-zone {
  float: left;
  position: relative;
}

.clear {
  clear: both;
}

.grid-wrapper,
.grid-container,
.grid-zone,
.grid-blok,
.grid-element {
  box-sizing: border-box;
}

@if $gutter > 0 {
  .grid-blok {
    margin-left: $gutter;
    margin-right: $gutter;
  }
}

@if $outer-padding > 0 {
  .grid-element {
    padding-left: $outer-padding;
    padding-right: $outer-padding;
  }
}

@if $inner-padding > 0 {
  .grid-title,
  .grid-inside {
    padding-left: $inner-padding;
    padding-right: $inner-padding;
  }
}
