html,
body {
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  margin: 0 auto;
  max-width: 100%;

  &.expand-to-page {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}

.grid-container {
  margin: 0 auto;

  &.breakout-container {
    max-width: 100%;
    // padding-left: 0;
    // padding-right: 0;
    width: 100%;
  }
}

.grid-blok,
.grid-zone {
  float: left;
  position: relative;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.grid-wrapper,
.grid-container,
.grid-zone,
.grid-blok,
.grid-element {
  box-sizing: border-box;
}

@if $gutter > 0 {
  .grid-blok {
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;
  }
}

@if $outer-padding > 0 {
  .grid-element {
    padding-left: $outer-padding / 2;
    padding-right: $outer-padding / 2;
  }
}

@if $inner-padding > 0 {
  .grid-title,
  .grid-inside {
    padding-left: $inner-padding / 2;
    padding-right: $inner-padding / 2;
  }
}
