@media screen and (max-width: $grid-mq-small) {
  $breakout: $columns-small * $column-width;

  .breakout-container {
    padding-left: calc((100% - #{$breakout}) / 2);
    padding-right: calc((100% - #{$breakout}) / 2);
  }
}

@media screen and (min-width: $grid-mq-small + 1) and (max-width: $grid-mq-medium) {
  $breakout: $columns-medium * $column-width;

  .breakout-container {
    padding-left: calc((100% - #{$breakout}) / 2);
    padding-right: calc((100% - #{$breakout}) / 2);
  }
}

@media screen and (min-width: $grid-mq-medium + 1) {
  $breakout: $columns-large * $column-width;

  .breakout-container {
    padding-left: calc((100% - #{$breakout}) / 2);
    padding-right: calc((100% - #{$breakout}) / 2);
  }
}

.grid-wrapper {
  margin: 0 auto;
  max-width: 100%;
  background-color: lightblue;

  &.expand-to-page {
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
    width: 100vw;
  }
}

.grid-container {
  margin: 0 auto;

  &.breakout-container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}

// .grid-zone {
//   margin: 0 auto;

//   &.breakout-zone {
//     margin-left: 0%;
//     margin-right: 0%;
//     padding-left: calc((100% - 960px) / 2);
//     padding-right: calc((100% - 960px) / 2);
//     max-width: 100%;
//     width: 100%;
//   }
// }

// .grid-zone.grid_12.breakout-zone {
//   margin-left: calc((100% - 1400px) / 2);
//   margin-right: calc((100% - 1400px) / 2);
//   padding-left: calc(0px - (100% - 1400px) / 2);
//   padding-right: calc(0px - (100% - 1400px) / 2);
//   width: $wrapper-width;
// }

.grid-row.is-fullwidth-row.expand-to-page,
.grid-zone.is-fullwidth-zone.expand-to-page {
  clear: both;
  float: left;
  margin-left: -100%;
  margin-right: -100%;
  padding-left: 100%;
  padding-right: 100%;
  width: 300%;
}
