// Error handling
@each $zone in $zones {
  $zone-columns: map-get($zone, columns);
  $zone-blocks: map-get($zone, blocks);

  @each $check in $zone-blocks {
    @if $check > $zone-columns {
      @error 'Block #{$check} doesnt fit in zone #{$zone-columns}';
    }
  }
}
