@each $zone in $zones {
  // sass-lint:disable class-name-format
  $zone-columns: map-get($zone, columns);
  $zone-blocks: map-get($zone, blocks);

  .grid-zone {
    &.push_#{$zone-columns} {
      left: $zone-columns;
    }

    &.pull_#{$zone-columns} {
      left: -#{$zone-columns};
    }

    &.grid_#{$zone-columns} {
      @each $block in $zone-blocks {
        .grid-blok {
          &.push_#{$block} {
            left: percentage($block / $zone-columns);
          }

          &.pull_#{$block} {
            left: -#{percentage($block / $zone-columns)};
          }

          &.prefix_#{$block} {
            $width: percentage($block / $zone-columns);

            @if $gutter > 0 {
              margin-left: calc(#{$width} + #{$gutter / 2});
            }
            @else {
              margin-left: $width;
            }
          }

          &.suffix_#{$block} {
            $width: percentage($block / $zone-columns);

            @if $gutter > 0 {
              margin-right: calc(#{$width} + #{$gutter / 2});
            }
            @else {
              margin-right: $width;
            }
          }
        }
      }
    }
  }
}
