@import "baseline-default";

$baseline: map-merge($baseline-default, $baseline-config);

$zones: map-get($baseline, zones);
$depth: map-get($baseline, depth);

$column-width: map-get($baseline, column-width);

$grid-mq-small: map-get($baseline, grid-mq-small);
$grid-mq-medium: map-get($baseline, grid-mq-medium);

$columns-small: map-get($baseline, columns-small);
$columns-medium: map-get($baseline, columns-medium);
$columns-large: map-get($baseline, columns-large);

$pushes: map-get($baseline, pushes);
$pulls: map-get($baseline, pulls);

$container-gutter: map-get($baseline, container-gutter);

$gutter: map-get($baseline, gutter);
$outer-padding: map-get($baseline, outer-padding);
$inner-padding: map-get($baseline, inner-padding);

$debug-color: map-get($baseline, debug-color);

$container-width: 0px;
$wrapper-width: 0px;

// ------
$container-gutter: 2 * $outer-padding + 2 * $gutter !default;
