@import "susy";
@import "maptovars";

$susy: (
  container: $grid-bp-large,
  columns: $columns-large,
  gutters: $gutters,
  column-width: $column-width,
  gutter-position: $gposition,
  global-box-sizing: content-box,
);

.wrapper_#{$columns-large} {
  max-width: $wrapper-l;
}

.container_#{$columns_large} {
  @include container();

  &.breakout-container {
    max-width: 100%;

    .grid-zone.grid_#{$columns_large} {
      margin-left: calc((100% - #{$grid-bp-large}) / 2);
      margin-right: calc((100% - #{$grid-bp-large}) / 2);
      width: $grid-bp-large;
    }
  }
}

$zone-sizes: $grid-zones;
@each $zone-size in $zone-sizes {
  .grid-zone.grid_#{$zone-size} {
    @include span($zone-size of $columns-large no-gutter);
  }

  @for $blok-size from 1 through ($columns-large - $zone-size) {
    .grid-zone.push_#{$blok-size} {
      left: span($blok-size);
    }

    .grid-zone.pull_#{$blok-size} {
      left: -1 * span($blok-size);
    }
  }

  .grid-zone.grid_#{$zone-size} {
    @for $blok-size from 1 through $zone-size {
      .grid-blok.grid_#{$blok-size} {
        @include span($blok-size of $zone-size no-gutter);

        > .grid-element {
          @include span($blok-size of $blok-size);
        }
      }
    }

    @for $sub-size from 1 through 12 {
      .grid-blok.push_#{$sub-size} {
        left: span($sub-size of $zone-size);
      }

      .grid-blok.pull_#{$sub-size} {
        left: -1 * span($sub-size of $zone-size);
      }

      .grid-blok.prefix_#{$sub-size} {
        margin-left: span($sub-size of $zone-size);
      }

      .grid-blok.suffix_#{$sub-size} {
        margin-right: span($sub-size of $zone-size);
      }
    }
  }
}
