@mixin viewport-logic($current-columns) {
  .wrapper_#{$columns-large} {
    @include grid-wrapper;
  }

  .container_#{$columns-large} {
    @include grid-container;
  }

  @each $zone in $zones {
    $zone-columns: map-get($zone, columns);
    $zone-blocks: map-get($zone, blocks);

    .grid-zone.grid_#{$zone-columns} {
      width: min(100%, percentage($zone-columns / $current-columns));

      @each $block in $zone-blocks {
        .grid-blok.grid_#{$block} {
          @include grid-blok($block, min($zone-columns, $current-columns));

          @if $depth > 0 {
            @each $nested-block in $zone-blocks {
              @if $nested-block <= $block {
                @include grid-nesting($nested-block, $block);
              }
            }
          }
        }
      }
    }
  }
}
