@import "functions";

$container-size: $current-columns * $column-width;
$wrapper-width: $container-size + 20px;

.wrapper_#{$columns-large} {
  max-width: $wrapper-width;
}

@each $zone in $zones {
  $zone-columns: map-get($zone, columns);
  $zone-blocks: map-get($zone, blocks);

  .grid-zone.grid_#{$zone-columns} {
    width: min(100%, percentage($zone-columns / $current-columns));

    @each $block in $zone-blocks {
      .grid-blok.grid_#{$block} {
        @include grid-blok($block, min($zone-columns, $current-columns));
      }
    }
  }
}
