@import "susy";
@import "maptovars";

$susy: (
  container: $grid-bp-small,
  columns: $columns-small,
  gutters: $gutters,
  column-width: $column-width,
  gutter-position: $gposition,
  global-box-sizing: content-box,
);

.container_#{$columns-small} {
  @include container();
}

$zone-sizes: $grid-zones;
@each $zone-size in $zone-sizes {
  .grid-zone.grid_#{$zone-size} {
    @include span(3 of 3 no-gutter);

    @for $blok-size from 4 through $zone-size {
      .grid-blok.grid_#{$blok-size} {
        @include span(3 of 3 no-gutter);

        > .grid-element {
          @include span(3 of 3);
        }
      }
    }

    @for $blok-size from 1 through 3 {
      .grid-blok.grid_#{$blok-size} {
        @include span($blok-size of 3 no-gutter);

        > .grid-element {
          @include span($blok-size of $blok-size);
        }
      }
    }
  }
}
