- var col = 4
include includes/logic.pug
doctype html
html

  head
    title grid_4
    link(rel='stylesheet' href='../css/example-4.css')

  body
    .grid-wrapper(class="wrapper_" + column)
      .grid-container(class="container_" + column)
        .grid-zone(class="grid_" + column)
          include includes/column_full.pug
          include includes/column_1_to_full.pug
