doctype html
html

  head
    title grid_15
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed')
    link(rel='stylesheet' href='../css/example-15.css')

  body
    .grid-wrapper.wrapper_15
      .grid-container.container_15
        .grid-zone.grid_15
          each column in [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
            include includes/grid-blok
          each column in [6, 6, 3]
            include includes/grid-blok
          each column in [{ prefix: 9, column: 6 }, 15]
            include includes/grid-blok
        .grid-zone.grid_9
          each column in [{ prefix: 2, column: 3 }, { column: 1 }]
            include includes/grid-blok
        .grid-zone.grid_6
            each column in [{ column: 2, prefix: 1 }, { column: 2, prefix: 1 }]
              include includes/grid-blok
        .grid-zone.grid_6
            each column in [{ column: 2, suffix: 3 }, { column: 1 }]
              include includes/grid-blok
        .grid-zone.grid_15
          each column in [{ column: 3, push: 9 }, { column: 3, pull: 3 }]
            include includes/grid-blok
