doctype html
html

head
  title= "grid_15"
  link(rel="stylesheet", href="../css/example-15.css")

  .grid-wrapper.wrapper_15

    .grid-container.container_15

      .grid-zone.grid_15

        .grid-blok.grid_15

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_15

              .grid-inside
                p blok grid_15

        .grid-blok.grid_6

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_6

              .grid-inside
                p blok grid_6

        .grid-blok.grid_6

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_6

              .grid-inside
                p blok grid_6

        .grid-blok.grid_3

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_3

              .grid-inside
                p blok grid_3

        .grid-blok.grid_3

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_3

              .grid-inside
                p blok grid_3

      .grid-zone.grid_9

        .grid-blok.grid_6

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_6

              .grid-inside
                p blok grid_6

        .grid-blok.grid_3

          .grid-element

            .grid-edge

              .grid-title
                h2 grid_3

              .grid-inside
                p blok grid_3

      .grid-zone.grid_6

        .grid-blok.grid_3.prefix_3

          .grid-element

            .grid-edge

              .grid-title
                h2 prefix_3

              .grid-inside
                p blok 3

      .grid-zone.grid_15

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1


        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1


        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1

        .grid-blok.grid_1

          .grid-element

            .grid-edge

              .grid-title
                h2 1

              .grid-inside
                p 1
