doctype html
html

  head
    title grid_12
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed')
    link(rel='stylesheet' href='../css/example-nesting.css')

  body
    main
      .content
        .grid-wrapper.wrapper_12
          .grid-container.container_12
            .grid-zone.grid_6
              each column in [6]
                include includes/grid-blok
            .grid-zone.grid_6
              each column in [3, 3]
                include includes/grid-blok
            .clear
          .grid-container.container_12
            .grid-zone.grid_12
              .grid-blok.grid_11.suffix_1
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [1, 2, 3, 5]
                        include includes/grid-blok
            .clear
          .grid-container.container_12
            .grid-zone.grid_12
              .grid-blok.grid_10.suffix_2
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [6, 4]
                        include includes/grid-blok
            .clear
          .grid-container.container_12
            .grid-zone.grid_12
              .grid-blok.grid_9.suffix_3
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [6, 3]
                        include includes/grid-blok
            .clear
          .grid-container.container_12
            .grid-zone.grid_12
              .grid-blok.grid_6
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [6]
                        include includes/grid-blok
              .grid-blok.grid_6
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [3, 3]
                        include includes/grid-blok
            .clear
          .grid-container.container_12
            .grid-zone.grid_6
              .grid-blok.grid_4
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [2, 2]
                        include includes/grid-blok
              .grid-blok.grid_2
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [2]
                        include includes/grid-blok
            .grid-zone.grid_6
              .grid-blok.grid_6
                .grid-element
                  .grid-edge
                    .grid-nesting
                      .grid-blok.grid_3
                        .grid-element
                          .grid-edge
                            .grid-nesting
                              each column in [2, 1]
                                include includes/grid-blok
            .clear
          .grid-container.container_12
            .grid-zone.grid_9
              .grid-blok.grid_6
                .grid-element
                  .grid-edge
                    .grid-nesting
                      .grid-blok.grid_6
                        .grid-element
                          .grid-edge
                            .grid-nesting
                              each column in [1, 2, 1, 1, 1]
                                include includes/grid-blok
                      .grid-blok.grid_6
                        .grid-element
                          .grid-edge
                            .grid-nesting
                              .grid-blok.grid_5
                                .grid-element
                                  .grid-edge
                                    .grid-nesting
                                      each column in [1, 2, 1, 1]
                                        include includes/grid-blok
                              .grid-blok.grid_1
                                .grid-element
                                  .grid-edge
                                    .grid-nesting
                                      each column in [1]
                                        include includes/grid-blok
              .grid-blok.grid_3
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [1, 2, 3]
                        include includes/grid-blok
            .grid-zone.grid_3
              .grid-blok.grid_3
                .grid-element
                  .grid-edge
                    .grid-nesting
                      each column in [1, 2, 3]
                        include includes/grid-blok
