doctype html
html(lang="en")

head
  title= "grid_4"
  link(rel='stylesheet', href='../css/example-4.css')

.grid-wrapper.wrapper_4

  .grid-container.container_4

    .grid-zone.grid_4

      - for (var x = 1; x <= 4; x++)
        .grid-blok.grid_1
          .grid-element
            .grid-edge
              .grid-title
                h2 1
              .grid-inside
                p blok1

      - for (var x = 1; x <= 2; x++)
        .grid-blok.grid_2
          .grid-element
            .grid-edge
              .grid-title
                h2 2
              .grid-inside
                p blok2
