- var col = 15
include includes/logic.pug
doctype html
html
  head
    title grid_#{col}
    link(rel="stylesheet" href="../css/example-15.css")
  body
      .grid-wrapper(class="wrapper_" + column)
        .grid-container(class="container_" + column)
          .grid-zone(class="grid_" + column)
            include includes/column_full.pug
            include includes/column_1_to_full.pug
          .grid-zone.grid_12
            include includes/column_6_3.pug
          .grid-zone.grid_3
            include includes/column_3.pug
          .grid-zone.grid_15
            include includes/column_9.pug
            include includes/column_6.pug
