doctype html
html

  head
    title grid_12-gut
    link(rel='stylesheet' href='../css/example-gut-12.css')

  body
    .grid-wrapper.wrapper_12
      .grid-container.container_12
        .grid-zone.grid_12
          each column in [12]
            include includes/grid-blok
        .grid-zone.grid_3
          each column in [3, 3, 3, 3, 3]
            include includes/grid-blok
        .grid-zone.grid_9
          each column in [3, 3, 3, { prefix: 2, column: 5, suffix: 2 }, 6, 3, 3, 6, 9 ]
            include includes/grid-blok
        .grid-zone.grid_12
          each column in [6, 6]
            include includes/grid-blok
