- var col = 12
include includes/logic.pug
doctype html
html

  head
    title grid_#{col}
    link(rel="stylesheet" href="../css/example-12.css")

  body
    .grid-wrapper(class="wrapper_" + column)
      .grid-container(class="container_" + column)
        .grid-zone(class="grid_" + column)
          include includes/column_full.pug
          include includes/column_1_to_full.pug
          include includes/column_6_3.pug
          .grid-blok.grid_9.prefix_3
            .grid-element
              .grid-edge
                .grid-title
                  h2 grid 9
                .grid-inside
                  p prefix
