@import "../scss/mixins/map-to-vars";
@import "../scss/mixins/debug-colors";
@import "../scss/mixins/functions";

@each $viewport in $viewports {
  $current-columns: map-get($viewport, columns);
  $fluid: map-get($viewport, fluid);
  $override-width: map-get($viewport, override-container);

  @if $fluid == true {
    $wrapper-width: 100%;
    $container-width: 100%;
  } @else if $fluid == false {
    @if $override-width > 0 {
      $container-width: $override-width;
      $wrapper-width: $container-width + $container-gutter * 2;
    } @else {
      $container-width: $current-columns * $column-width;
      $wrapper-width: $container-width + $container-gutter * 2;
    }
  }

  @if (map-has-key($viewport, min) and map-has-key($viewport, max)) {
    $min: map-get($viewport, min);
    $max: breakpoint-max(map-get($viewport, max));

    @media screen and (min-width: $min) and (max-width: $max) {
      :root {
        --grid-columns: #{$current-columns};
      }

      .grid-wrapper {
        @include grid-wrapper;
      }

      .grid-container {
        @include grid-container;
      }
    }
  } @else if (map-has-key($viewport, max)) {
    $max: breakpoint-max(map-get($viewport, max));

    @media screen and (max-width: $max) {
      :root {
        --grid-columns: #{$current-columns};
      }

      .grid-wrapper {
        @include grid-wrapper;
      }

      .grid-container {
        @include grid-container;
      }
    }
  } @else if (map-has-key($viewport, min)) {
    $min: map-get($viewport, min);

    @media screen and (min-width: $min) {
      :root {
        --grid-columns: #{$current-columns};
      }

      .grid-wrapper {
        @include grid-wrapper;
      }

      .grid-container {
        @include grid-container;
      }
    }
  }
}

@import "./mixins/viewport-logic";
